<a href="https://colab.research.google.com/github/apichon/its100_1_2021/blob/main/ITS100_PracticeFinalExam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Q1 The following program aims at computing 1+2+: : : +n. What has to be at the blank on line 2?

n = int(input("n=? "))
#p,i = ______________________
p,i = 0,0
while i < n:
  i = i+1
  p = p+i
print("1+2+...+n=",p)

n=? 5
1+2+...+n= 15

In [ ]:
#Q2 How many time Nobita will be printed? (forever)

i = 0
while i < 10:
  print("Nobita")
  print("Nobita")
  i = i-1

In [ ]:
#Q3 How many time Superman will be printed?

i = 0
cont = True
while cont:
  i = i+1
  if i > 2:
    cont = False
    print("Superman")
  print("Superman")

Superman
Superman
Superman
Superman

In [ ]:
#Q4 The following program computes the average of numbers given by the user. What should be in line 5?

cont = True
c, s = 0, 0
while cont:
  n = input("number?")
  #if ____________________
  if n == '':
      cont =False
  else:
    c = c+1
    s = s+float(n)
print("Average = ", s/c)

number?5
number?5
number?
Average =  5.0

In [ ]:
#Q5 We can convert a for loop into a while while loop as follows. What should be written at line 5 in the while loop
# for i in range(start,stop):
#   statement1
#   statement2

#The while loop statement:
i = start
  while i < stop:
    statement1
    statement2
    i = i+1

In [ ]:
#Q6 How many times ITS100 will be printed out by the following program?

x = 1
y = 20
while x < 20 or y > 1:
  x = x*2
  y = y-5
  print("ITS100")

#1*2 2*2 4*2 8*2 -16*2
#20-5 15-5 10-5 5-5 0

ITS100
ITS100
ITS100
ITS100
ITS100

In [ ]:
#Q7 How many times hello will be printed out by the following program?

n = 10
for i in range(n):
  while i < 5:
    print("hello")

# forever

In [ ]:
#Q8The following program aims at computing 1! + 2! + ::: + n! where n is given by the user and k! = 1  2  :::  k. What should be in line 6 and line 7?

n = int(input("n=?"))
s = 0
for i in range(1, n+1):
  p = 1
  for j in range(1, i+1):
    #__________________
    p = p * j
  #__________________
  s = s + p
    
print("1!+2!+...+n!=", s)

n=?3
1!+2!+...+n!= 9

In [ ]:
#Q9 The following program aims at computing 22 +44 +66 +  +(2n)2n. What should be in line 5 and line 6?

n = int(input("n=?"))
s = 0
i = 1
while i <= n:
  #_____________________
  #_____________________
  s = s + ( (2*i)**(2*i) )
  i = i + 1
print("2**2+...+(2n)**(2n)=",s)

n=?3
1 4
2 256
3 46656
2**2+...+(2n)**(2n)= 46916

In [ ]:
#Q10 What is an output of the following program? If there is an error message, what cause it?

def test():
  print("cat")
print("dog")
test()
print("pig")

dog
cat
pig

In [ ]:
#Q11 What is an output of the following program? If there is an error message, what cause it?

def superman(x):
  if x < 10:
    print("spiderman")
  elif x == 10:
    return "x-men"
  else:
    print("batman")
superman(10)

'x-men'

In [ ]:
#Q12 What is an output of the following program? If there is an error message, what cause it?

def student(name, age=18):
  print(name, "is", age)

student("super", "man", 25)
#TypeError: student() takes from 1 to 2 positional arguments but 3 were given

TypeError: ignored

In [ ]:
#Q13 What is an output of the following program? If there is an error message, what cause it?

def adder(a, b):
  c = a+b
c = 100
c = adder(10, 20)
print(c)

#no return from function, then None

None

In [ ]:
#Q14 What is an output of the following program? If there is an error message, what cause it?


def multiply(a, b):
  print(a*b)
multiply("Super","man")
#TypeError: can't multiply sequence by non-int of type 'str'

TypeError: ignored

In [ ]:
#Q15 What is an output of the following program? If there is an error message, what cause it?

def London():
  global c
  c = 9
  print(c)
  c = 3
c = 5
print(c)
London()
print(c)

5
9
3

In [ ]:
#Q16 How many superman will be printed?

def Superman(n):
  for i in range(n):
    print("batman")
def Batman(n):
  for i in range(1, n, 2):
    print("superman")
Superman(5)
Batman(6)

batman
batman
batman
batman
batman
superman
superman
superman

In [ ]:
#Q17 What is the objective of the following function?

def superman(n=3):
  for i in range(n):
    print("superman")

#print super n time with default parameter of 3
superman()

superman
superman
superman

In [ ]:
#Q18 What is an output of the following program? If there is an error message, what cause it? 
#How many different variables have been created in that program? What is the scope of variable x and y in the myfunc() function ?

def myfunc():
  global x
  y = x+5
  x = 10
x = 1
y = 50
myfunc()
print(x, y)

# 3 variables = G[x,y],F[y]
#Function=> G[x], F[y]

10 50

In [ ]:
#Q19 What is an output of the following program? If there is an error message, what cause it?

def myfunc(x=20):
  x += 1
  print(x, "superman")
x = 5
myfunc(10)
print(x, "superman")

11 superman
5 superman

In [ ]:
#Q20 What is an output of the following program? If there is an error message, what cause it? 
#How many dierent variables have been created in that program? What is the scope of variable a and c in the myfunc2() function ?

def myfunc1():
  a = 1
  b = 5
  c = a+b
def myfunc2(c):
  c = c+a
a = 10
b = 10
c = 10
myfunc1()
myfunc2(5)
print(a, b, c)

#variables = G[a,b,c],F1[a,b,c],F2[c,a] = 18
# F2[c,a] = local

10 10 10

In [ ]:
#Q21 What is the correct statement to fill in the blank in order to print out a random color from list colours?

In [ ]:
import random as r
colours = ["red", "green", "blue"]
#print(___________________)
print(r.choice(colours))

red

In [ ]:
#Q22 What line of the program that generates the error message?

A = [10, 20]
B = ["cat", "rat", "bat"]
print(sum(A))
print(sum(B))
print(len(A)+len(B))
print(min(A))
print(max(B))

#print(sum(B)) 
#TypeError: unsupported operand type(s) for +: 'int' and 'str'

30

TypeError: ignored

In [ ]:
#Q23 Which is the correct statement to remove 10 from the following list?

numberList = [5, 10, 15, 20]

numberList.remove(10)
print(numberList)

[5, 15, 20]

In [ ]:
#Q24 What is the correct statement to print out ['rat', 'bat'] from myList defined below?

myList = ["cat", "rat", "bat", "hat", "fat"]

print(myList[1:3])

['rat', 'bat']

In [ ]:
#Q25 What is the correct statement to print out ['hat'] from myList defined below?

myList = ["cat", "rat", "bat", "hat", "fat"]

print(myList[1:3])

In [ ]:
#Q26 What is the correct statement to remove all elements from myList defined below?

myList = ["cat", "rat", "bat", "hat", "fat"]

myList.clear()
print(myList)

[]

In [ ]:
#Q27 What is an output of the following program? If there is an error message, what cause it?

a = [5, 4, 3, 2, 1]
sum = 5
for x in a:
  if x >= 3:
    sum = sum+x
print(sum)

#5+5+4+3

17

In [ ]:
#Q28 What is an output of the following program? If there is an error message, what cause it?

myList = [1, 4, 4, 4, 3, 1]
max = myList[0]
indexOfMax = 0
for i in range(1, len(myList)):
  if myList[i] > max:
    max = myList[i]
    indexOfMax = i
print(indexOfMax)

1

In [ ]:
#Q29 What is an output of the following program? If there is an error message, what cause it?

def myFunc(B):
  B[0] = 99
A = [1, 2, 3]
myFunc(A)
print(A)

[99, 2, 3]

In [ ]:
#Q30 What is an output of the following program? If there is an error message, what cause it?

name = ["peter", "john", "somchai", "somying"]
print(name[2][-1])

i

In [ ]:
#Q31 What is an output of the following program? If there is an error message, what cause it?

A = "hello"
s = 0
for x in A:
  if x in "aeiou":
    s += 1
print(s)

2

In [ ]:
#Q32 What is an output of the following program? If there is an error message, what cause it?

a = []
for i in range(5):
  a.append(i*i)
print(a)
x = sum(a)
print(x)

[0, 1, 4, 9, 16]
30

In [ ]:
#Q33 What is an output of the following program? If there is an error message, what cause it?

a = []
for i in range(1, 10, 2):
  if i%2 == 0:
    a.append(i*i)
print(a)
x = sum(a)
print(x)

[]
0

In [ ]:
#Q34 What is an output of the following program? If there is an error message, what cause it?

a = ["Arsenal", "Manchester", "Liverpool"]
b = ["Duck", "Cat", "Gun", "Ghost", "Bat"]
def translate(x):
  a.sort()
  b.sort()
  if x in a:
    for i in range(len(a)):
      if a[i] == x:
        return(b[i])
      else:
        return "Ship"
x = "Arsenal"
y = translate(x)
print(y)

Bat

In [ ]:
#Q35 What is an output of the following program? If there is an error message, what cause it?

A = [1, 2, 3, 4, 5]
B = [10, 20, 30]
C = A[1:4] + B[1:-1]
print(C)
print(sum(C))

[2, 3, 4, 20]
29

In [ ]:
#Q36 What is an output of the following program? If there is an error message, what cause it?

A = [10, 20, 30, 40, 50]
B = ["Cat", "Rat", "Bat"]
A[1] = B[2]
B[2] = A[3]
A[3] = A[1]
print(B)

['Cat', 'Rat', 40]

In [ ]:
#Q37 What is an output of the following program? If there is an error message, what cause it?

A = [20, 40, 30, 10, 50]
A[5] = -50
A.sort()
print(A[2])

#IndexError: list assignment index out of range

IndexError: ignored

In [ ]:
#Q38 What is the output of the following program?

import numpy as np

a = np.ones(25)
a = np.reshape(a, (5, 5))
b = np.identity(5)
a = a + 3*b
a = np.sum(a, axis=1)
print(a)

[8. 8. 8. 8. 8.]

In [ ]:
#Q39 What is the output of the following program?
import numpy as np

a = np.array([2,1,6,5,3,7,9,8])
print(np.argsort(a))

[1 0 4 3 2 5 7 6]

In [ ]:
#Q40 Write a program that accepts an integer n. It then calculates 1+2+3+  +n. The program must use NumPy arrays.

import numpy as np

n = input("input n: ")
n = int(n)
a = np.arange(1,n+1)
sum_a = np.sum(a)
print(sum_a)

input n: 5
15